<nav>
	<span style="font-weight:bold;">Angular Learning </span>
	<a routerLink="view-emp" routerLinkActive="active-link"> View Employee </a>|
	<a routerLink="employee-list" routerLinkActive="active-link"> Employees </a>|
	<a routerLink="edit-emp" routerLinkActive="active-link"> Edit Employee </a>|
	<a routerLink="edit-emp-template-driven" routerLinkActive="active-link"> Edit Employee-Template </a>|
	<a routerLink="edit-emp-reactive" routerLinkActive="active-link">Edit Employee Reactive</a>|
	<a routerLink="edit-emp-form-builder" routerLinkActive="active-link">Edit Employee FormBuilder</a>|
	<a routerLink="quantity-increment" routerLinkActive="active-link"> Quantity Incremnt </a>|
	<a routerLink="quantity-selector" routerLinkActive="active-link"> Quantity Selector </a>|
	<a routerLink="login" routerLinkActive="active-link"> Login </a>
	
	
	
</nav>

<router-outlet></router-outlet>


